<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/pictures/weather.png">
    <title>404</title>
    <link rel="stylesheet"  href="./css/style.css">
</head>

<body>
    <div class="main-content">
         {{>header}}

         <p>{{errorMessage}}</p> 
    </div>
   <p>{{>footer}}</p>
</body>

</html>