<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/pictures/weather.png">
    <title>About</title>
    <link rel="stylesheet"  href="./css/style.css">
</head>

<body>
    <div class="main-content">
      {{>header}}
    <img class="portrait" src="/pictures/robot.png" >
    </div>
    
    <p>{{>footer}}</p>
</body>

</html>
//name-yuval00901 
//pass-Huckdurd7796
//winner

//u<z8M$!S89)dTwv - pass