<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/pictures/weather.png">
    <title>About</title>
    <link rel="stylesheet"  href="./css/style.css">
</head>

<body>
    <div class="main-content">
      {{>header}}
      <p>This website was created by Yuval George. This website uses location to search for current weather</p>
    <img class="portrait" src="/pictures/robot.png" >
    </div>
    
    <p>{{>footer}}</p>
</body>

</html>
