<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/pictures/weather.png">
    <title>Help</title>
    <link rel="stylesheet"  href="./css/style.css">
</head>

<body>
    {{>header}}
    <p>{{>footer}}</p>
</body>

</html>