<!DOCTYPE html>

<html>

<head>
      <link rel="icon" href="/pictures/weather.png">
      <title>Weather</title>
      <link rel="stylesheet"  href="./css/style.css">
      
</head>

<body>
      <div class="main-content">
{{>header}}

<p>You can search for location</p>

<form>
 <input placeholder="Location">
 <button>Search</button>
</form>

<p id='meesage-1'></p>
<p id='meesage-2'></p>

      </div>
    
   <p>{{>footer}}</p>
   <script src="/js/app.js"></script>
</body>

</html>